<!DOCTYPE html>
<html>
<head>
	<title>table format</title>
</head>
<body>
{{var1}} - {{var2}} - {{var3}}
<table border="2" bgcolor="#efefef">
 <tr>
 <th width="150">User Name</th>
 
 <th>Age</th>
 <th>Email ID</th>
 <th width="150" bgcolor="#cccccc">Balance</th>
 </tr>
 <tr>
 <th>{{var4}}</th>
 <td>{{var8}}</td>
 <td>{{var7}}</td>
 <td bgcolor="#cccccc">410.50</td>
 </tr>
 <tr>
 <th>{{var5}}</th>
 <td>{{var9}}</td>
 <td>{{var6}}</td>
 <td bgcolor="#cccccc">1170.15</td>
 </tr>
</table>
</body>
</html>